@import './breakpoint.scss';

$component-name: "c-modal";

.#{$component-name} {
  display: flex;
  margin: 0;
  padding: 0;
  &__overlay {
    position: absolute;
    z-index: -1;
    background-color: rgba($color: #000000, $alpha: 0.7);
    width: 100vw;
    height: 100vh;
  }
  &__panel {
    width: 70vw;
    height: 90%;
    max-height: 90%;
    display: flex;
    background-color: var(--dark-blue);
    border-radius: 8px;
    @include breakpoint(medium-only) {
      width: 90vw;
      flex-flow: column;
    }
  }
  &__editor {
    width: 50%;
    @include breakpoint(medium-only) {
      width: auto;
      height: 50%;
    }
  }
  &__informations {
    --paddingInformations: calc(var(--padding)*2);
    width: calc(50% - var(--paddingInformations));
    padding: var(--paddingInformations);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    @include breakpoint(medium-only) {
      width: auto;
      height: calc(50% - 60px);
    }
  }
  &__title {
    text-transform: uppercase;
    margin-block: var(--padding);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;;
    letter-spacing: 0.4em;
    border-bottom: 5px solid;
    padding-block-end: var(--padding);
  }
  &__content {
    height: calc(90% - var(--paddingInformations));
    overflow-y: scroll;
    padding-inline-end: 10px;
    @include breakpoint(medium-only) {
      height: calc(75% - var(--paddingInformations));
    }
  }
  &__actions {
    display: flex;
    flex-flow: column;
  }
  &__buttons {
    display: flex;
  }
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

