<mat-dialog-content class="c-modal">
  <div class="c-modal__panel">
    <div class="c-modal__editor">
      <app-code [limitHight]="false" [editable]="false"
      [listUpdate]="data"></app-code>
    </div>
    <div class="c-modal__informations">
      <div class="c-modal__content">
        <h2 class="c-modal__title">{{data.id}} {{ data.title }}</h2>
        <p class="c-modal__description">{{ data.description }}</p>
        <div class="c-modal__comments">
          <app-comment [comments]="data.comments"></app-comment>
        </div>
      </div>
      <div class="c-modal__actions">
        <div class="c-modal__buttons">
          <app-badge [icon]="faComment" [count]="data.comments.length"></app-badge>
        </div>
        <form class="c-form u-mb--1" [formGroup]="formComments">
          <input class="c-form__input" type="text" formControlName="comments" (keyup.enter)="armazenarComentario()">
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>