.l-container {
  width: 90%;
  margin: auto;
  @include breakpoint(medium-only) {
    width: auto;
  }
  &--full {
    width: 100%;
  }
}

.l-row {
  display: flex;
  @include breakpoint(medium-only) {
    flex-flow: column;
  }
  &--verticalCenter {
    align-items: center;
  }
  &--justifyBetween {
    justify-content: space-between;
  }
}
