.l-container {
  width: 90%;
  margin: auto;
  &--full {
    width: 100%;
  }
}

.l-row {
  display: flex;
  &--verticalCenter {
    align-items: center;
  }
  &--justifyBetween {
    justify-content: space-between;
  }
}
