$component-name: "c-form";

.#{$component-name} {
  &__group {
    display: flex;
    flex-flow: column;
  }
  &__input {
    width: calc(100% - calc(var(--padding) * 2));
    background-color: rgba($color: #ffffff, $alpha: 0.16);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: var(--padding);
    transition: ease 0.5s;
    color: var(--light);
    &:hover {
      background-color: rgba($color: #ffffff, $alpha: 0.24);
    }
  }
  &__color {
    @extend .#{$component-name}__input;
    appearance: none;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--light);
    height: calc(80px - calc(var(--margin) * 1));
    padding: var(--margin);
  }
  input[type="text"] {
    height: calc(60px - calc(var(--padding) * 2));
  }
  textarea {
    --height: calc(110px - calc(var(--padding) * 2));
    height: var(--height);
    max-height: var(--height);
    min-height: var(--height);
  }
  select {
    width: 100%;
    font-size: 16px;
    padding-block: 20px;
    option {
      color: var(--light);
      background-color: var(--dark-blue);
    }
  }
}
