@import "./breakpoint.scss";

$template-name: "c-code";

.#{$template-name} {
  &__mold {
    padding: calc(var(--padding) * 2);
    background-color: var(--bg-color, #6bd1ff);
    border-radius: 8px;
    height: calc(100% - calc(var(--padding) * 4));
  }
  &__view {
    padding: var(--padding);
    border-radius: 8px;
    height: calc(100% - calc(var(--padding) * 2));
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__tag {
    padding-inline: 15px;
    padding-block: 5px;
    border-radius: 8px;
    background-color: #fff;
    color: var(--dark);
    border: 1px solid transparent;
    transition: .3s ease;
    &:hover {
      background-color: transparent;
      color: #fff;
      border-color: #fff;
    }
  }
  &__actions {
    display: flex;
    width: 65px;
    justify-content: space-between;
  }
  &__button {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #eee;
    &--close {
      @extend .#{$template-name}__button;
      background-color: var(--close);
    }
    &--minimize {
      @extend .#{$template-name}__button;
      background-color: var(--minimize);
    }
    &--maximize {
      @extend .#{$template-name}__button;
      background-color: var(--maximize);
    }
  }
  &__editor {
    margin: 0;
    display: flex;
    margin-block-start: 20px;
    white-space: pre-wrap;
    height: calc(100% - calc(var(--padding)*2));
    code {
      width: 100%;
      line-height: 1.5;
      color: var(--light);
      &:focus {
        outline: none;
      }
    }
    &--maxHeight {
      height: 300px;
      overflow: hidden;
    }
  }
}
