<form class="c-form" [formGroup]="formHighlight">
  <div class="l-row l-row--justifyBetween">
    <div class="t-editor" style="--sidebar: 350px">
      <app-code
        [tag]="false"
        [editable]="true"
        [syntaxFormat$]="syntaxFormat$"
        [colorFormat$]="colorFormat$"
        (codeChanged)="generatedCode($event)">
      </app-code>
      <button
        type="button"
        class="c-button c-button--outline u-mb--2"
        [disabled]="!syntax"
        (click)="generateSyntax()">Visualizar com o highlight
      </button>
    </div>

    <aside class="t-sidebar t-sidebar--right" #sidebar>
      <span>Seu projeto</span>
      <div class="c-form__group u-mb--2">
        <input
          type="text"
          class="c-form__input"
          placeholder="Nome do seu projeto"
          formControlName="title"
          [ngClass]="{ 'is-required' : formHighlight.get('title')?.errors && formHighlight.get('title')?.touched }">
        <textarea
          class="c-form__input u-mb--2"
          placeholder="Descrição do seu projeto"
          formControlName="description"
          [ngClass]="{ 'is-required' : formHighlight.get('description')?.errors && formHighlight.get('description')?.touched }">
        </textarea>
      </div>
      <span>Personalização</span>
      <div class="c-form__group u-mb--2">
        <select class="c-form__input" formControlName="syntax" (change)="alterarSyntax($event);">
          <option *ngFor="let language of languages" value="{{ language }}">{{ language }}</option>
        </select>
        <input type="color" class="c-form__color u-mb--2" formControlName="color" (input)="changeColor($event);">
      </div>
      <button [disabled]="formHighlight?.invalid || validatedButton" type="submit" class="c-button c-button--fill" (click)="cadastrar()">Salvar projeto</button>
    </aside>
  </div>
</form>
