$template-name: "t-header";

.#{$template-name} {
  margin-block: calc(var(--margin) * 3);
  &__logo {
    width: 350px;
    a {
      display: flex;
      align-items: center;
    }
  }
  &__search {
    width: calc(100% - 700px);
  }
  &__profile {
    width: 350px;
    display: flex;
    justify-content: flex-end;
  }
}
