$template-name: "t-sidebar";

.#{$template-name} {
  width: 15%;
  display: flex;
  flex-flow: column;
  span {
    text-transform: uppercase;
    margin-block-end: var(--padding);
    font-size: 14px;
    letter-spacing: 0.2em;
  }
}
