$template-name: "t-sidebar";

.#{$template-name} {
  width: 300px;
  display: flex;
  flex-flow: column;
  @include breakpoint(large-only) {
    width: auto;
  }
  span {
    text-transform: uppercase;
    margin-block-end: var(--padding);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    @include breakpoint(large-only) {
      margin-block-end: 0;
    }
  }
  &--right {
    margin-inline-start: 50px;
    @include breakpoint(large-only) {
      margin-inline-start: 0;
    }
  }
  &--left {
    margin-inline-end: 50px;
    @include breakpoint(large-only) {
      margin-inline-end: 0;
      > span {
        display: none;
      }
    }
  }
}
