$component-name: "c-button";

.#{$component-name} {
  border-radius: 8px;
  font-size: 16px;
  padding: 16px;
  cursor: pointer;
  transition: .3s ease;
  border: none;
  &--fill {
    color: var(--dark-blue);
    background-color: var(--blue-300);
    &:hover {
      background-color: var(--blue-200);
    }
    &:focus {
      background-color: var(--blue-100);
    }
    &:active {
      background-color: var(--blue-200);
      outline: 4px solid rgba(80, 129, 251, 0.24);
    }
  }
  &--outline {
    color: var(--light);
    background-color: rgba($color: #5081fb, $alpha: 0.08);
    &:hover {
      background-color: rgba($color: #5081fb, $alpha: 0.16);
    }
    &:focus {
      background-color: rgba($color: #5081fb, $alpha: 0.24);
    }
    &:active {
      outline: 4px solid rgba(80, 129, 251, 0.72);
      background-color: rgba($color: #5081fb, $alpha: 0.24);
    }
  }
  &:disabled {
    opacity: .4;
  }
}
