<aside class="t-sidebar t-sidebar--left" [ngClass]="{ 'is-mobile': mobile}">
  <span>Menu</span>
  <nav class="c-menu" [ngClass]="{ 'is-open' : mostrarMenu }">
    <ul class="c-menu__list">
      <li class="c-menu__item">
        <a [routerLink]="['editor']" class="c-menu__target" [routerLinkActive]="['c-menu__target--active']">
          <div class="c-menu__icon">
            <fa-icon [icon]="code"></fa-icon>
          </div>
          <p class="c-menu__label">Editor de código</p>
        </a>
      </li>
      <li class="c-menu__item">
        <a [routerLink]="['community']" class="c-menu__target" [routerLinkActive]="['c-menu__target--active']">
          <div class="c-menu__icon">
            <fa-icon [icon]="users"></fa-icon>
          </div>
          <p class="c-menu__label">Comunidade</p>
        </a>
      </li>
    </ul>

    <ng-container *ngIf="mobile">
      <div class="c-menu__divider"></div>
      <app-avatar></app-avatar>
    </ng-container>

  </nav>
</aside>
