<form class="c-form" [formGroup]="formHighlight">
  <div class="l-row l-row--justifyBetween">
    <div class="t-editor" style="--sidebar: 350px">
      <app-code color="{{ color.value }}" syntax="{{ syntax.value }}" #editor></app-code>
      <button [disabled]="formHighlight.get('syntaxHljs')?.invalid" type="button"
        class="c-button c-button--outline u-mb--2" (click)="editor.changeSyntaxCode()">Visualizar com o
        highlight</button>
    </div>

    <aside class="t-sidebar t-sidebar--right" #sidebar>
      <span>Seu projeto</span>
      <div class="c-form__group u-mb--2">
        <input type="text" class="c-form__input" placeholder="Nome do seu projeto" formControlName="title">
        <textarea class="c-form__input u-mb--2" placeholder="Descrição do seu projeto"
          formControlName="description"></textarea>
      </div>
      <span>Personalização</span>
      <div class="c-form__group u-mb--2">
        <select class="c-form__input js-linguagem" formControlName="syntaxHljs" #syntax>
          <option *ngFor="let language of editor.hljs" value="{{ language }}">{{ language }}</option>
        </select>
        <input type="color" class="c-form__color u-mb--2 js-input-color" formControlName="inputColor" #color>
      </div>
      <button [disabled]="formHighlight?.invalid" type="button" class="c-button c-button--fill">Salvar projeto</button>
    </aside>
  </div>
</form>
