.is-disabled {
  opacity: 0.5;
}

.is-open {
  right: 15px !important;
}

.is-visible {
  display: flex !important;
}

.is-hidden {
  display: none !important;
}

.is-mobile {
  display: none;
  @include breakpoint(medium-only) {
    display: flex;
  }
}
