$component-name: "c-badge";

.#{$component-name} {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: var(--margin);
  padding: 8px;
  border-radius: 16px;
  transition: .3s ease;
  cursor: pointer;
  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.08);
  }
  &:active {
    background-color: rgba($color: #ffffff, $alpha: 0.16);
  }
  &--active {
    .#{$component-name}__icon {
      color: var(--close);
    }
  }
  &__icon {
    margin-inline-end: var(--margin);
  }
}
