<div class="t-feed" *ngIf="posts; else elseBlock" [ngClass]="{ 't-feed--masonry': structure }">
  <div class="t-feed__buttons">
    <button class="t-feed__button" (click)="toggleStructre()" *ngIf="!structure">
      <fa-icon class="t-feed__icon" [icon]="faMasonry"></fa-icon>
    </button>
    <button class="t-feed__button" (click)="toggleStructre()" *ngIf="structure">
      <fa-icon class="t-feed__icon" [icon]="faRegular"></fa-icon>
    </button>
  </div>
  <div class="t-feed__list">
    <div class="t-feed__item" *ngFor="let post of posts">
      <div class="t-editor">
        <app-code
          [limitHight]="true"
          [editable]="false"
          [listUpdate]="post"
        ></app-code>
      </div>
      <div class="t-feed__content">
        <h2 class="t-feed__title">{{ post.title }}</h2>
        <p>{{ post.description }}</p>
      </div>
      <div class="t-feed__interactions js-slide-down">
        <div class="t-feed__actions">
          <app-badge [icon]="faComment" [count]="post.comments.length" (click)="modalOpen(post)">
          </app-badge>
          <app-badge
            [icon]="faHeart"
            [status]="post.statusLike"
            [count]="post.countLike"
            (click)="like(post)"></app-badge>
        </div>
        <div class="t-feed__author">
          <app-avatar></app-avatar>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <em>Não há dados</em>
</ng-template>