@import './breakpoint.scss';

$template-name: "t-feed";

.#{$template-name} {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  &__item {
    width: calc(50% - calc(var(--margin)));
    margin-block-end: calc(var(--margin)*2.5);
    border-radius: 8px;
    background-color: rgba($color: #000000, $alpha: 0.16);
    @include breakpoint(medium-only) {
      width: 100%;
    }
    .c-code__editor {
      overflow: hidden;
    }
    &:hover {
      border-radius: 0;
    }
  }
  &__content {
    padding: 24px;
    display: flex;
    flex-flow: column;
    p {

    margin-block-end: 0;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 31.5px;
    margin-block:0;
  }
  &__interactions {
    padding: 24px;
    padding-block-start: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: space-between;
  }
  &__actions {
    display: flex;
    align-items: center;
  }
}
