<div class="t-feed">
  <div class="t-feed__item js-feed-item">
    <div class="c-code">
      <div class="c-code__mold js-mold">
        <div class="c-code__view">
          <div class="c-code__actions">
            <span class="c-code__button--close"></span>
            <span class="c-code__button--minimize"></span>
            <span class="c-code__button--maximize"></span>
          </div>
          <div class="c-code__editor js-editor">
            <code class="preview hljs" contenteditable="true" aria-label="editor"></code>
          </div>
        </div>
      </div>
    </div>
    <div class="t-feed__content">
      <h2 class="t-feed__title">Titulo do projeto</h2>
      <p>Essa é a descrição do meu projeto</p>
    </div>
    <div class="t-feed__interactions js-slide-down">
      <div class="t-feed__actions">
        <app-badge></app-badge>
        <app-badge></app-badge>
      </div>
      <div class="t-feed__author">
        <app-avatar></app-avatar>
      </div>
    </div>
  </div>
</div>
