::placeholder {
  font-family: var(--font-inter);
  color: var(--light);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  opacity: 0.64;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0;
  padding-block: 0;
  padding-inline: calc(var(--padding) * 3);
  font-size: 16px;
  line-height: 24px;
  color: var(--light);
  font-family: var(--font-inter);
  background-color: var(--dark-blue);
  @include breakpoint(medium-only) {
    padding-inline: var(--padding);
  }
}

main {
  width: calc(100% - 350px);
  @include breakpoint(medium-only) {
    width: auto;
  }
  @include breakpoint(large-only) {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: var(--blue-300);
  transition: 0.3s ease;
  &:hover {
    color: var(--dark-blue);
  }
}

@for $h from 1 to 7 {
  h#{$h} {
    font-size: 21px;
    font-family: var(--font-inter);
    font-weight: 400;
    line-height: 32px;
    color: var(--light);
    margin-block-end: 1.5em;
  }
}

section {
  width: 100%;
  padding-block: calc(var(--padding) * 2);
}

figure,
img {
  margin: 0;
}

img {
  max-width: 100%;
}
