:root {
  --margin: 10px;
  --padding: 15px;
  --primary: #051d3b;
  --secondary: #5081fb;
  --light: #ffffff;
  --dark: #141414;
  --close: #ff5f56;
  --minimize: #ffbd2e;
  --maximize: #27C93F;
  --font-inter: "Inter", sans-serif;
  // Select Custom
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
